{% extends 'base.html' %}
{% load static %}
{% block content %}

 <section class="inner-page-banner bg_img overlay-3" data-background="assets/images/inner-page-bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-title">Contact</h2>

        </div>
      </div>
    </div>
  </section>

  <!-- features-section start -->



<center>
<section class="blog-details-section pb-120" style="padding-top:50px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="blog-details">
            <div class="post-item-header">
              <h3 class="post-title">Contact </h3>
            </div>
            <div class="content">
<!--              <p style="text-align: justify;">-->
<!--                  Get wheels is just a platform and will not have any interference in either renter or hirer dialogues.-->
<!--              </p>-->
<!--                <p style="text-align: justify;">-->
<!--                Get wheels will neither take responsibility of any damages and have any any discussion on the behalf of either hirer or renter.-->
<!--                </p>-->
<!--                <p style="text-align: justify;">-->
<!--                Both Hirer and Renter party have to deal with themselves.-->
<!--                </p>-->

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- blog-details-section end -->
</center>

{% endblock %}
