{% extends 'base.html' %}
{% load static %}
{% block content %}



 <section class="banner-section bg_img" data-background="{%static 'assets/images/banner.jpg' %}">
    <br>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 bg_img">
          <div class="history-wrapper">
            <center><h2 class="title" style="color:white">Find  <span>Vehicles</span></h2></center>
              <br><br>
            <p> Find all types of vehicles and request to hire instantly. Select your favourite vehicle and send request to owner.Wait for your request to be accepted.  </p>
            <br><br>
            <center> <a href="{% url 'home:available' %}" class="cmn-btn">see all vehicles</a></center>

          </div>
        </div>
        <div class="col-lg-6 bg_img">
          <div class="history-wrapper">
            <center> <h2 class="title" style="color:white;">Rent <span>Vehicles</span></h2></center>
              <br><br>
            <p> Rent your vehicles instantly. Put details of your vehcile and get request from the hirer. Fix the correct deal.  </p>
            <br><br>
            <center><a href="{% url 'home:rent' %}" class="cmn-btn" name="rent">Rent</a></center>

          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- team-section end -->

<!--{{form}}-->
  <!-- consulting-section start -->

  <section class="consulting-section pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="consulting-from-area">
            <h2 class="title">Request a Free Consultation</h2>

            <form class="consulting-form" method="post" action="/">
              {% csrf_token %}
               <i style="color: red">{% if messages %} {% for message in messages %} {{message}} {% endfor %} {% endif %}</i>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="text" name="first_name" id="cons_f_name" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" name="last_name" id="cons_l_name" placeholder="Last Name">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="email" name="email" id="cons_email" placeholder="Email Address">
                </div>
                <div class="form-group col-md-6">
                  <input type="tel" name="phone_no" id="cons_tel" placeholder="Phone">
                </div>
              </div>
              <div class="form-group">
                <textarea placeholder="Message" name="message"></textarea>
              </div>
              <center><button type="submit" class="cmn-btn">submit now</button></center>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- consulting-section end -->

{% endblock %}