{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- inner-apge-banner start -->
  <section class="inner-page-banner bg_img overlay-3" data-background="assets/images/inner-page-bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-title">reservation</h2>

        </div>
      </div>
    </div>
  </section>
  <!-- inner-apge-banner end -->

  <!-- reservation-section start -->
  <section class="reservation-section pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="reservation-details-area">
            <div class="thumb">
              <img src="{{object.image}}" alt="images">
            </div>
            <div class="content">
              <div class="content-block">
                <h3 class="car-name">{{object}}</h3>
                <span class="price">Rs. {{object.priceph}} per hour</span><br>
                      <p> <i class="fa fa-tachometer"></i>{{object.km_travelled}} KM</p>
                      <p><i class="fa fa-sliders"></i>{{object.available_till_date}}</p>
                      <p>Owner : {{object.user}}</p>
                <p>Pickup Location : {{object.pickup}}</p>
                <p>Dropoff Location : {{object.dropup}}</p>
                <p>{{object.description}}</p>
              </div>
              <form class="reservation-form" method="post" >
                {% csrf_token %}
                  <br>

                  <i style="color: red">{% if messages %} {% for message in messages %} {{message}} {% endfor %} {% endif %}</i>
                <div class="content-block">
                  <h3 class="title">personal information</h3>
                  <div class="row">
<!--                    <div class="col-lg-6 form-group">-->
<!--                      <input type="text" placeholder="Name">-->
<!--                    </div>-->
<!--                    <div class="col-lg-6 form-group">-->
<!--                      <input type="email" placeholder="Email Address">-->
<!--                    </div>-->
                    <div class="col-lg-6 form-group">
                      <input type="tel" placeholder="Phone" name="phone">
                    </div>
                    <div class="col-lg-6 form-group">
                      <input type="text" placeholder="Your Location" name="location">
                    </div>
<!--                    <div class="col-lg-6 form-group">-->
<!--                      <input type="text" placeholder="Zip Code">-->
<!--                    </div>-->
<!--                    <div class="col-lg-6 form-group">-->
<!--                      <select>-->
<!--                        <option>Gender</option>-->
<!--                        <option>Male</option>-->
<!--                        <option>Female</option>-->
<!--                      </select>-->
<!--                    </div>-->
                  </div>
                </div>
<!--                <div class="content-block">-->
<!--                  <h3 class="title">payment method</h3>-->
<!--                  <div class="row">-->
<!--                    <div class="col-lg-6 form-group">-->
<!--                      <select>-->
<!--                        <option>Select Payment Methos</option>-->
<!--                        <option>Paypal</option>-->
<!--                        <option>Payoneer</option>-->
<!--                        <option>Visa Card</option>-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="content-block">
                  <h3 class="title">Additional information</h3>
                  <div class="row">
                    <div class="col-lg-12 form-group">
                      <textarea placeholder="Write addisonal information in here" name="description"></textarea>
                      <br>
                      <br>

                      <input id="terms" type="checkbox" name="terms" value="True">
                      <label for="terms"> I Accept all <a href="{% url 'home:terms' %}" target="_blank">Terms and Conditions</a></label><br>
                    </div>

                    <div class="col-lg-12">
                      <button type="reset" class="cmn-btn bg-black">Cancel</button>
                      <button type="submit" class="cmn-btn" name="reserve">reservation</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
<!--          <aside class="sidebar">-->
<!--            <div class="widget widget-all-cars">-->
<!--              <h4 class="widget-title"></h4>-->
<!--              <ul class="cars-list">-->
<!--                <li><a href="#0">mistubisshi</a></li>-->
<!--                <li><a href="#0">forester subar</a></li>-->
<!--                <li><a href="#0">subary liberty</a></li>-->
<!--                <li><a href="#0">pajero range</a></li>-->
<!--                <li><a href="#0">volkswagen</a></li>-->
<!--              </ul>-->
            </div>
<!--            <div class="widget widget-testimonial">-->
<!--              <h4 class="widget-title"></h4>-->
<!--              <div class="widget-body">-->
<!--                <div class="testimonial-slider owl-carousel">-->
<!--                  <div class="testimonial-item">-->
<!--                    <div class="testimonial-item&#45;&#45;header">-->
<!--                      <div class="thumb"> </div>-->
<!--                      <div class="content">-->
<!--                        <h6 class="name"></h6>-->
<!--                        <span class="designation"></span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="testimonial-item&#45;&#45;body">-->
<!--&lt;!&ndash;                      <p>Tristique consequat, lorem sed vivamus donec eget, nulla pharetra lacinia wisi diamaliquam velit nec.</p>&ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div><!-- widget end -->
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- reservation-section end -->

  <!-- footer-section end -->
  
{% endblock %}

<!--  <script>-->
<!--$(document).ready(function(){-->
<!--  $(".dropdown-toggle").dropdown();-->
<!--});-->
<!--</script>-->


